<div class = "container text-center">
  <h1>Angular Calculator</h1>

  <label class = "m-3">Input First Number</label> 
  <input (input) = "input1(firstVal.value)" type = "text" #firstVal>

  <hr>

  <label class = "m-3">Input First Number</label> 
  <input (input) = "input2(secondVal.value)" type = "text" #secondVal>

  <hr>

    <button (click) = "add()" class = "btn btn-primary p-3 m-3">+</button>
    <button (click) = "minus()" class = "btn btn-primary p-3 m-3">-</button>
    <button (click) = "multiply()" class = "btn btn-primary p-3 m-3">x</button>
    <button (click) = "divide()" class = "btn btn-primary p-3 m-3">/</button>

    <hr>

    <label for="result">Result:</label>
    <input type="number" readonly id="result" value="NaN" class="mx-3">

    <hr>
</div>